.footer {
  width: 100%;
  height: auto;
  margin-top: 80px;
  .footer__top {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    border-top:1px solid gray;
    .footer__right-list {
      display: flex;
      justify-content: space-around;
      text-align: left;
      flex-direction: column;
      width: 100%;
      height: 100%;
      span {
        font-weight: 800;
        font-size: 14px;
        padding: 12px 8px;
      }
      ul {
        justify-content: space-between;
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: black;
            font-size: 12px;
          }
        }
      }
    }
  }
}
